#ob button{border:none;cursor:pointer;font-size:20px;outline:none;padding:12px 25px;}
#ob h2{font-size:32px;margin-bottom:32px;}
#ob p{font-size:18px;line-height:25px;margin-bottom:32px;}
#ob_hero{background:-webkit-linear-gradient(to top left,#2c3e50,#3c556e,#2c3e50);background:linear-gradient(to top left,#2c3e50,#3c556e,#2c3e50);box-shadow:inset 0 -3px 6px rgba(0,0,0,0.2);color:#fafafa;overflow-y:visible;padding-bottom:200px;padding-top:150px;position:relative;}
#ob_hero .illustration{background:url(/images/illustrations/hero_splash.png);background-position:calc(50% + 500px) calc(50% + 240px);background-repeat:no-repeat;background-size:auto 500px;bottom:0;height:780px;pointer-events:none;position:absolute;width:100%;z-index:1;}
#ob_hero .ob_half{border-bottom-right-radius:200px!important;border-radius:16px;color:#fafafa!important;padding:32px;box-shadow:none;}
#ob_hero a{color:#fafafa;cursor:pointer;font-size:18px;font-weight:200;margin-left:32px;padding:12px 25px;}
#ob_hero button{background:#2c3e50!important;background:none;color:#fafafa;}
#ob_hero button,#ob_hero i{color:#333;}
#ob_hero h1{color:#fafafa;font-size:80px;font-weight:100!important;font-weight:800;line-height:95px;}
#ob_hero h1 b{font-weight:900;}
#ob_hero h1,#ob_hero p{margin-bottom:64px;}
#ob_hero p{font-size:20px;line-height:30px;max-width:50%;}
.ob_container{margin:0 auto;max-width:969px;width:100%;}
.ob_inverse{background:#2F2E41;}
.ob_row{padding-bottom:100px;padding-top:100px;width:100%;}
.trend{box-shadow:-3px -3px 6px rgba(255,255,255,0.2),3px 3px 6px rgba(0,0,0,0.3);border:none;outline:none;overflow:hidden;}
:root{--aside-size:20px;--bigtext:30px;--fit-height:720px;--fit-width:1280px;--mediumtext:25px;--text:16px;}
[round]{border-radius:8px;}
body{font-family:'Roboto',sans-serif;overflow-x:hidden;}
button.trend{color:#fafafa!important;padding-left:45px!important;position:relative;}
button.trend i{color:#fafafa!important;display:inline-block;left:8px;overflow:visible;position:absolute;text-align:center;top:14px;width:25px;}
button.trend i,button.trend{transition:all .1s;}
button.trend i:last-child{opacity:0;transform:scale(1.5,1.5);width:0;}
button.trend:hover i:first-child{margin-left:-25px;margin-right:25px;opacity:0;transform:scale(1.5,1.5);width:0;}
button.trend:hover i:last-child{opacity:1;transform:scale(1,1);width:25px;}
